#root {
  /* max-width: 1280px; */
  margin: 0 ;
  width: 100vw auto;
  height: 100vh auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.background {
  position: absolute;
  left: 0;
}

#star{
  background-color: red;
  position: absolute;
  bottom: 100;
}

canvas {
  display: block;
}